<p> Hello </p>

<p> Here are the answers for order <%= @answer_params[:order_id] %> : </p>

<p> Satiscation rating : <%= @answer_params[:satisfaction_rating] %> </p>
<p> Shipping rating : <%= @answer_params[:satisfaction_rating] %> </p>
<p> Products quality rating : <%= @answer_params[:products_quality_rating] %> </p>
<p> Comments : <%= @answer_params[:comment] %> </p>

